a{
  font-family: Comic Sans MS;
}
h1{
  font-family: cursive;
  text-align: center;
  font-size: 24px;
  background-color: rgb(105, 97, 2);
  color: black;
  border-radius: 10px;
}
h2{
  text-align: center;
  font-size: 55px;
  border-radius: 10px;
  margin-top: 50px;
  color: black;
}
h3{
  font-size: 20px;
  padding: 15px;
  text-transform: uppercase;
  text-align: center;
  margin-left: 0px;
  font-weight: 500;
  line-height: 2.7;
  letter-spacing: 0.8px;
}
h4{
  text-align: center;
  font-size: 80px;
}
footer {
  height: 200px;
  color: white;
  margin-top: 50px;
  text-align: center;
  width: 100%;
  bottom: 5px;
  background-color: black;
  z-index: 5;
}
footer h3 {
  display: inline-block;
  font-size: 17px;
  background-color: black;
}
.logo{
  height: 40px;
  width: 40px;
}
.navbar.mynav{
   background-color: rgb(255, 255, 255)!important;
}
.card-title{
  font-family: fantasy;
  font-size: 32px;
  opacity: 0.8;
}
.card-text{
  font-size: 18px;
}
.parallax {
  background-image: url("https://images7.alphacoders.com/848/848309.jpg");
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
  border-style: inset;
}
.col.mb-4 {
  right: 398px;
}
.toDetail{
  color: black;
  text-decoration: none;
}
.toDetail:hover{
  color: black;
  text-decoration: none;
}
#Blyat{
  font-size: 100px;
  text-align: center;
  padding-top: 50px;
  color: rgb(251, 255, 65);
  opacity: 0.7;
  font-family: impact;
}
#Bly{
  font-size: 100px;
  text-align: center;
  padding-top: 300px;
  color: black;
  opacity: 0.8;
  font-family: impact;
}
