body {
  background-image: url("https://images.pexels.com/photos/1227511/pexels-photo-1227511.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}
a{
  font-family: Comic Sans MS;
}
h1{
  font-family: cursive;
  text-align: center;
  font-size: 100px;
  color: black;
  margin-bottom: 50px;
}
h2{
  text-align: center;
  font-size: 80px;
  border-radius: 10px;
}
h3{
  font-size: 20px;
  padding: 15px;
  text-transform: uppercase;
  text-align: center;
  margin-left: 0px;
  font-weight: 500;
  line-height: 2.7;
  letter-spacing: 0.8px;
}
footer {
  height: 200px;
  color: white;
  margin-top: 50px;
  text-align: center;
  width: 100%;
  bottom: 5px;
  background-color: black;
  z-index: 5;
}
footer h3 {
  display: inline-block;
  font-size: 17px;
  background-color: black;
}
.carousel-inner{
  margin-top: 65px;
}
.navbar.mynav{
   background-color: rgb(255, 255, 255)!important;
}
.parallax {
  background-image: url("https://images7.alphacoders.com/848/848309.jpg");
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  border-style: inset;
}
.adv-left{
  width: 300px;
  position: fixed;
  left:50px;
  background-color: rgb(7, 46, 103);
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 65px;
  border-radius: 3px;
  box-shadow: 3px 3px 3px 3px #202020;
}
.adv-left img{
    width: 100%;
    padding-bottom: 30px;
}
#Blyat{
  font-size: 100px;
  text-align: center;
  padding-top: 50px;
  color: rgb(251, 255, 65);
  opacity: 0.7;
  font-family: impact;
}
#Bly{
  font-size: 100px;
  text-align: center;
  padding-top: 300px;
  color: rgb(251, 255, 65);
  opacity: 0.8;
  font-family: impact;
}
